*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #ECEFF0;
}
.container {
    display: flex;
    min-width: 100%;
    background-color: #3E416D;
    justify-content: center;
    align-items: center;
    position: fixed;
  }
.container > a{
    text-decoration: none;
    color: white;
}
.container > a > div:not(.active){
    background-color: #3E416D;
    padding: 20px;
}
.active{
    background-color: #65678A;
    padding: 17.5px;
    border-bottom: 5px solid #580B80;
}
.container > a > div:not(.active):hover{
    background-color: #65678A;
}
.active2{
    font-size: 0px;
    color: white;
}


.katta{
    width: 68%;
    margin: auto;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    flex-direction: column;
    padding: 10px 20px;
    background-color: white;
}



























@media only screen and (max-width: 560px) {

    .container{
        display: flex;
        justify-content: end;
        align-items: flex-end;
        text-decoration: none;
    }   
    .container > a > div{
     font-size: 0px;
   }
   
   .active2{
       padding: 20px;
       font-size: 25px;
   }
   .container > a > div:not(.active):hover{
     background-color: #3E416D;
     cursor: auto;
   }
   
   .active{
   background-color: #3E416D;
   border-bottom: none;
   cursor: auto;
   }






























}